/*
Student Name: William Gomez
File Name: styles.css
Date: 7/30/2021
*/

/*CSS Reset*/

body, header, nav, main, footer, img, h1, h3, ul
{
margin: 0;
padding: 0;
border: 0;
}

/*header styles*/
header{
  font-size: 2em;
  text-align: center;
}

/*img styles*/

img
{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style rules for main content */
main 
{
    padding: 2%;
    background-color: #f0f0f5;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}
 
main p 
{
    font-size: 1.25em;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile
{
  display: block;
}
.tab-desk
{
  display: none;
}


/*Style rules for header area*/

.mobile h1, .mobile h3
{
  padding: 2%;
  text-align: center;
}

.mobile h1
{
  font-family: 'Exo 2', sans-serif;
}

.mobile h3
{
  font-family: 'Roboto', sans-serif;
}


/*navegation styles*/
nav
{
  background-color:#00b300;
}

nav ul
{
  list-style: none;
  text-align: center;
}

nav li
{
  display: block;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav li a
{
  display: block;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  border-top: 0.5px ;
  border-top-color: #f0f0f5 ;
  border-top-style: solid ;
}
}

/*Body background color*/
body
{
  background-color: #f0f0f5;
}

/*style rules for pictures*/

.round
{
  border-radius: 7px;
}


/*Style rules for footer content*/

footer
{
  text-align: center;
  font-size: 0.85em;
  background-color: #00b300;
  color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  clear: left;
}

footer a
{
  color: #ffffff;
  text-decoration: none;
}

#welcome
{
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#sclub, #tclub
{
 margin: 0 2%;
}


.link
{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

/*pseudo-classes for anchors*/

a:link {
  color: #f0f0f5;
}

/* visited link */
a:visited {
  color: #1115;
}

/* mouse over link */
a:hover {
  color: #f0f0f5;
}

/* selected link */
a:active {
  color: #0000FF;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {
  
/* Tablet Viewport: Show tab-desk class, hide mobile class */  
.tab-desk {
    display: block;
} 
.mobile {
    display: none;  
} 
/* Tablet Viewport: Style rule for header content */     
span.tab-desk {
    display: inline;
}


/*Tablet Viewport: Style rules for nav area */

nav li{
  border-top: none;
  display: inline-block;
  font-size: 1.5em;
  border-right: solid 1px #f0f0f5;
}
nav li:last-child{
  border-right: none;
}

nav li a{
  padding-top: 0.25em;
  padding-bottom: 0.25em ;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*Tablet Viewport: Style rule for map*/
.map{
  width: 500px;
  height: 450px;
}

}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

  /*Desktop Viewport: Style rule for header*/

  header{
    padding:2%;
  }

  /*Desktop Viewport: Style rules for nav area*/
  nav li a{
    padding-top: 0.5em;
    padding-bottom: 0.5em ;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  nav li a:hover{
    color: #00b300;
    background-color: #f0f0f5;
  }
  
  /*Desktop Viewport: Style rules for main content*/
  #info ul{
    margin-left: 5%;
  }


  main h3{
    font-size: 1.5em;
  }

  main{
    
  }

  #sclub, #tclub{
    width: 42%;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 2%;
    
  }

}

/*Media Query for Print*/
@media print{
  body{
    background-color: #fff;
    color: #000;
  }
}
