/*
Student Name: William Gomez
File Name: styles.css
Date: 7/30/2021
*/

/*CSS Reset*/

body, header, nav, main, footer, img, h1, h3, ul
{
margin: 0;
padding: 0;
border: 0;
}

/*img styles*/

img
{
  max-width: 100%;
  display: block;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile
{
  display: block;
}
.tab-desk
{
  display: none;
}

/*Style rules for header area*/

.mobile h1, .mobile h3
{
  padding: 2%;
  text-align: center;
}

.mobile h1
{
  font-family: 'Exo 2', sans-serif;
}

.mobile h3
{
  font-family: 'Roboto', sans-serif;
}


/*navegation styles*/
nav
{
  background-color:#00b300;
}

nav ul
{
  list-style: none;
  text-align: center;
}

nav li
{
  display: block;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav li a
{
  display: block;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  border-top: 0.5px ;
  border-top-color: #f0f0f5 ;
  border-top-style: solid ;
}
}

/*Body background color*/
body
{
  background-color: #f0f0f5;
}

/*style rules for pictures*/

.round
{
  border-radius: 7px;
}


/*Style rules for footer content*/

footer
{
  text-align: center;
  font-size: 0.85em;
  background-color: #00b300;
  color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a
{
  color: #ffffff;
  text-decoration: none;
}

#welcome
{
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#club
{
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.link
{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

/*pseudo-classes for anchors*/

a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}
